.relative {
    position: relative;
    // border: 1px solid red;
    width: 100%;
    @media screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        // position: static;
    }
}
.hamburger {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
            position: absolute !important;
        top: 20px;
        @media screen and (max-width: 500px) {
            position: absolute !important;
            // border: 1px solid red !important;
            background-color: $color-purple !important;
            color: $color-white !important;
            padding: 10px !important;
        }
    }
}
nav {
    height: 80px;
    // height: 100%;
    width: calc(80% - 20px);
    margin: 0 10px 10px calc(20% + 10px);
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0 0 10px #0000000a;
    background-color: #FFF;
    // border: 1px solid red;
    z-index: z('nav');
    
    @media screen and (max-width: 767px) {
        z-index: 100;
        height: 70px;
        // padding-top: 0px;
        position: relative;
        width: 100%;
        margin: 0px;
        padding: 5px;
        
    }
    div.nav { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
        // border: 2px solid black;
        @media screen and (max-width: 769px) {
            padding-right: 0px;
            padding-top: 0px;
            nav {
                height: 70px;;
            }
        }

        .right {
            display: flex;
            button {
                background-color: $color-bg;
                padding: 10px 12px;
            }
        }
    }

    svg {
        cursor: pointer;
    }
}


// .relative {
//     position: relative;
//     // border: 1px solid red;
//     @media screen and (max-width: 768px) {
//         position: static;
//     }
// }
// nav {
//     height: 80px;
//     width: calc(80% - 20px);
//     margin: 0 10px 10px calc(20% + 10px);
//     position: absolute;
//     top: 0;
//     right: 0;
//     box-shadow: 0 0 10px #0000000a;
//     background-color: #FFF;
//     // border: 1px solid red;
//     z-index: z('nav');

//     div.nav { 
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         height: 100%;
//         padding-left: 3rem;
//         padding-right: 3rem;
//         @media screen and (max-width: 768px) {
//             padding-right: 0px;
//         }

//         .right {
//             display: flex;
//             button {
//                 background-color: $color-bg;
//                 padding: 10px 12px;
//             }
//         }
//     }

//     svg {
//         cursor: pointer;
//     }
// }
