aside {
    padding-top: 70px;
    height: 100vh;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px #0000000a;
    justify-content: space-between;
    background-color: $color-purple;
    z-index: z('aside');

    &.show {
        @include media('<phone') {
            display: flex;
        }
    }



        @include media('<phone') {
            display: none;
            width: 70%;
            position: relative;
            // z-index: z("aside");
            // display: flex;
            // border: px solid #008000

            // &.show {
            //     display: flex;
            // }
            
        }

}
aside.show {
    @include media('<phone') {
        display: flex;
    }
}

.welcome {
    @include media('<phone') {
        display: none;
    }
}

.page__tab {
    cursor: pointer;
    height: 50px;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    color: $color-wolfram;
    transition: all 0.5s ease;

    &:hover {
        border-left: 2px solid $color-white;
        background-color: $color-transparent-white;
        color: $color-white;
    }

    &.active {
        border-left: 2px solid $color-white;
        background-color: $color-transparent-white;
        color: $color-white;
    }
}

.bottom__nav {
    padding-top: 13px;
    padding-bottom: 48px;
    border-top: 1px solid $color-grey;
}