$breakpoints: (
  'small': 500px,
  'phone': 768px,
  'mini-tab': 992px,
  'tablet': 1024px,
  'mid': 1366px,
  'desktop': 1920px,
) !default;

@import '../../node_modules/include-media/dist/include-media';